<ion-header [translucent]="true" class="ion-no-border" >
  <ion-toolbar class="bg_app">
    <ion-buttons>
      <ion-back-button class="icon_back" color="#a9abb3" ></ion-back-button>
      <img class="jb_img-detalle" src="../../assets/img/detalle_belleza_1.jpg" alt="">
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg_app ion-padding">
  <ion-text class="color_text_blue títulos">
    Pastel integral
  </ion-text>
  <br>
  <div  class="ion-padding-bottom" >
    <br>
    <ion-text class="text_description ion-text-wrap">
      Los pasteles y bizcochos, sin duda, son los favoritos de los más pequeños, sobre todo porque ellos pueden participar en la preparación de este sencillo y tradicional postre. Una receta fácil y rápida para alegrar a toda la familia. Y si se acerca uno de los cumpleaños de tus hijos o el tuyo y quieres ahorrar un poco de dinero en la tarta, no lo pienses y usa esta torta para elaborar tú mismo el pastel de cumpleaños. Sigue esta guía de RecetasGratis.net y prepara un rico pastel de vainilla ideal para servir al final de la comida o para animar la merienda a media tarde.
    </ion-text>
    <br>
    <br>
    <ion-text class="color_text_blue sub_títulos">
      Ingredientes
    </ion-text>

    <ion-slides  [options]="slideOpts">
      <ion-slide class="jb_slide" *ngFor=" let category of categoriesArray">
        <img class="jb_slide_category" src="assets/img/{{category.img}}"  alt="">
        <ion-text class="jb_text_slide">
          {{category.nombre}}
        </ion-text>
      </ion-slide>
    </ion-slides>
    <br>
    <ion-text class="color_text_blue sub_títulos">
      Preparación
    </ion-text>
    <div>
      <ion-grid>
        <ion-row>
          <ion-text class="text-description_numeral">1</ion-text>
          <ion-col>
            <ion-text class="text_description2 ion-text-wrap">
              Mezcla todos los ingredientes hasta formar una masa homogénea, incorporando la harina, los huevos, el azúcar, la vainilla, la leche, la mantequilla el aceite y el polvo de hornear. Puedes utilizar una licuadora, una batidora o cualquier instrumento similar; si prefieres puedes hacerlo a mano pero se debe batir bien para que se integren por completo cada uno de los ingredientes del bizcocho de vainilla.
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-text class="text-description_numeral">2</ion-text>
          <ion-col>
            <ion-text class="text_description2">
              Prepara un molde especial para hornear. Engrasa toda la superficie y las paredes con mantequilla o aceite y espolvorea con un poco de harina. Vacía la mezcla en el molde y hornea el queque durante 1 hora aproximadamente, o hasta que esté listo. Gradúa la temperatura en 180 grados. Para comprobar si está listo o no, es tan sencillo como pinchar la torta con un palillo de madera y observar si sale limpio.
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-text class="text-description_numeral">3</ion-text>
          <ion-col>
            <ion-text class="text_description2">
              Cuando esté listo el pastel de vainilla, retira del horno y deja reposar unos minutos. Luego desmolda y decora a tu gusto.
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-grid>
      <ion-row >
        <ion-col size="6" class="ion-align-items-center">
          <ion-icon class="icon_category_ejercicios" name="flame-outline"></ion-icon>
          <ion-text class="jb_text_icon"> 10min</ion-text>
        </ion-col>
        <ion-col size="6" class="ion-align-items-center" style="display: flex"  >
          <ion-icon class="icon_category_ejercicios" name="cellular-outline"></ion-icon>
          <ion-text class="jb_text_icon"> Medio</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
