<ion-header [translucent]="true" class="ion-no-border" >
  <ion-toolbar class="bg_app">
    <ion-buttons>
      <ion-back-button class="icon_back" color="#a9abb3" ></ion-back-button>
      <img class="jb_img-detalle" src="../../assets/img/detalle_belleza_3.jpg" alt="">
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg_app ion-padding">
  <ion-text class="color_text_blue títulos">
    Terapia con velas
  </ion-text>
  <br>
  <div  class="ion-padding-bottom" >
    <br>
    <ion-text class="text_description ion-text-wrap">
      Meditación acompañada de velas aromáticas para una mejor relajación.
    </ion-text>
    <br>
    <br>
    <ion-text class="color_text_blue sub_títulos">
      Ingredientes
    </ion-text>

    <ion-slides  [options]="slideOpts">
      <ion-slide class="jb_slide" *ngFor=" let category of categoriesArray">
        <img class="jb_slide_category" src="assets/img/{{category.img}}"  alt="">
        <ion-text class="jb_text_slide">
          {{category.nombre}}
        </ion-text>
      </ion-slide>
    </ion-slides>
    <br>
    <ion-text class="color_text_blue sub_títulos">
      Preparación
    </ion-text>
    <div>
      <ion-grid>
        <ion-row>
          <ion-text class="text-description_numeral">1</ion-text>
          <ion-col>
            <ion-text class="text_description2 ion-text-wrap">
              Asegurate de ir a un lugar donde no seas molestado por ruidos externos
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-text class="text-description_numeral">2</ion-text>
          <ion-col>
            <ion-text class="text_description2">
              Enciende las velas con tu escencia favorita y coloca el cornometro a 20 min.
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-text class="text-description_numeral">3</ion-text>
          <ion-col>
            <ion-text class="text_description2">
              Manten los ojos cerrados e intenta mantener tu mente en blanco, y ubicate como un simple observador de todo lo que pasa por tu mente hasta que se mantenga en blanco.
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-grid>
      <ion-row >
        <ion-col size="6" class="ion-align-items-center">
          <ion-icon class="icon_category_ejercicios" name="flame-outline"></ion-icon>
          <ion-text class="jb_text_icon"> 20 min</ion-text>
        </ion-col>
        <ion-col size="6" class="ion-align-items-center" style="display: flex"  >
          <ion-icon class="icon_category_ejercicios" name="cellular-outline"></ion-icon>
          <ion-text class="jb_text_icon"> Medio</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
