<ion-header [translucent]="true" class="ion-no-border" >
  <ion-toolbar class="bg_app">
    <ion-buttons slot="end">
      <ion-icon name="search-outline" class="icon_search"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg_app ion-padding">
  <ion-slides>
    <ion-slide >
      <img style="border-radius: 20px" src="assets/img/portada1.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img style="border-radius: 20px" src="assets/img/portada2.jpg" alt="">
    </ion-slide>
  </ion-slides>
  <br>
  <ion-text class="color_text_blue títulos">
    Categorías
  </ion-text>
  <br>
  <ion-slides  [options]="slideOpts">
    <ion-slide class="jb_slide" *ngFor=" let category of categoriesArray" routerLink="/{{category.linkpage}}">
      <img class="jb_slide_category" src="assets/img/{{category.img}}"  alt="">
      <ion-text class="jb_text_slide">
        {{category.nombre}}
      </ion-text>
    </ion-slide>
  </ion-slides>
  <br>
  <ion-text class="color_text_blue títulos">
    Visitas populares
  </ion-text>
  <br>
  <div *ngFor ="let popular of popularesArray" class="ion-padding-bottom">
    <img class="jb_populares" src="assets/img/{{popular.img}}" alt="">
  <ion-text class="color_text_blue sub_títulos">
    {{popular.nombre}}
  </ion-text>
  <br>
  <ion-text class="text_description ion-text-wrap">
    {{popular.description}}
  </ion-text>
    <ion-grid>
      <ion-row >
        <ion-col size="6" class="ion-align-items-center">
          <ion-icon class="icon_category_ejercicios" name="timer-outline"></ion-icon>
          <ion-text class="jb_text_icon"> {{popular.tiempo}}</ion-text>
        </ion-col>
        <ion-col size="6" class="ion-align-items-center" style="display: flex"  >
          <ion-icon class="icon_category_ejercicios" name="cellular-outline"></ion-icon>
          <ion-text class="jb_text_icon"> {{popular.grado}}</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
